* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: #222;
    padding: 10px 0;
}

.nav-1 {
    margin-top: 0;
    margin-left: 100px;
    list-style: none;
}

.nav-1 li{
    color: white;
}

.nav-2 {
    display: flex;
    position: fixed;
    right: 150px;
    list-style: none;
    gap: 35px;
    margin-top: -20px;
}

.nav-2 li {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s;
}

.nav-2 li:hover {
    cursor: pointer;
    color: #ff6600; 
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section-1 {
    flex-basis: 60%;
    padding: 20px;
}

.main-heading {
    font-size: 28px;
    margin-bottom: 15px;
}

.main-p {
    margin-top: 15px;
    font-size: 16px;
}

.main-list {
    margin-left: 20px;
}

.section-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

iframe {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.container {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3a3a3a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #222;
}

.required::after {
    content: ' *';
    color: red;
}

.show-message {
    display: block;
}

.hide-message {
    display: none;
}

.message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.submission {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
    }
    .section-1 {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .nav-1 {
        margin-left: 20px;
    }

    .nav-2 {
        display: flex;
        position: static;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
    }

    .nav-2 li {
        font-size: 16px;
    }
}
